/*charset*/
@charset "utf-8";

@media (max-width: 600px) {
    .input-field, .login-button {
        width: 90%;
        max-width: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border:0;
    outline: 2px solid #424242;
    border-radius: 5px;
    font-size: 1em;
}

.submitButton {
    width: 84%;
    max-width: 308px;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.linkCss {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

.linkCss:hover {
    text-decoration: underline;
}

